.friends-display {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #f1f1f1;
  padding: 10px 0;
  font-size: 12px;
  font-weight: 600;
  color: var(--black);
}

.friends-display i {
  color: var(--gray);
}

.friends-screen__channels {
  margin-top: 20px;
  border-top: 1px solid var(--light-gray);
  padding: 10px 0;
}

.friends-screen__channels-header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.friends-screen__channels-header i {
  padding: 10px;
}
