.user_component {
    margin-bottom: 20px;
}

.user_component,
.user_component__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.user_component__column:last-child {
    justify-content: flex-end;
    font-size: 12px;
    gap: 5px;
    padding: 0 10px;
    color: var(--gray);
}

.user_component__img {
    width: 70px;
    height: 70px;
    border-radius: 45%;
}

.user_component__img--xl {
    width: 60px;
    height: 60px;
}

.user_component__img--xs {
    width: 45px;
    height: 45px;
}

.user_component__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.todo-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-box input:checked ~ .user_component__title {
    color: var(--gray);
    text-decoration: line-through;
}

.user_component__title {
    font-weight: 600;
    font-size: 14px;
}

.user_component__desc {
    display: flex;
    align-content: center;
    gap: 5px;
    font-size: 12px;
    margin-top: 5px;
    color: var(--gray);
}

.user_component__desc i {
    color: tomato;
}

.user_component__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.user_component__note {
    background: tomato;
    border-radius: 50%;
    color: #fff;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_component__label {
    width: 14px;
    height: 14px;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    position: relative;
}

.user_component__text input[type="checkbox"] {
    display: none;
}

.user_component__text input[type="checkbox"]:checked + .user_component__label::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
